<div class="card mb-2" style="margin-left: 0; margin-right: 0;">
  <div class="card-body">

    <%= link_to post_path(post) do %>
      <div class="index_big_diamond">
        <div class="index_square" style="background-color: <%= post.color1 %>"></div>
        <div class="index_square" style="background-color: <%= post.color2 %>"></div>
        <div class="index_square" style="background-color: <%= post.color4 %>"></div>
        <div class="index_square" style="background-color: <%= post.color3 %>"></div>
      </div>
    <% end %>

    <div class="index_text">
      <% if post.comments.where(parent_id: nil).count.zero? %>
      <!-- ↑ モデルで使用した『comments.where(parent_id: nil).count.zero?』で『parent_id: nil』だった時(Postに対するコメントだった時)という条件を設けている-->
        <p class="text-center pt-3"><b> レビューがありません </b></p>
      <% else %>
        <p class="text-center pt-3"><b>評価：</b>
        <span id="index_active_raty_<%= post.id %>"></span>
      </p>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="index_text">
        <p>製作者 :
          <%= link_to user_my_page_path(post.user.id) do %>
            <%= post.user.name %>さん
          <% end %>
        </p>
      </div>
    <% end %>

    <div class="tag-item text-center">
      <% post.tags.each do |tag| %>
        <%= link_to posts_path(tag_id: tag.id), class: "btn btn-outline-info btn-sm" do %>
          <%= tag.tag_name %>
        <% end %>
      <% end %>
    </div>

    <div class="text-center mt-3">
      <% if user_signed_in? %>
        <span class="favorite align-middle" id="favorite_buttons_<%= post.id %>">
          <%= render "public/favorites/favorite", post: post %>
        </span>
      <% end %>
      <span class="comments align-middle pl-2", style="color: #fa8072">
        <i class="fas fa-comments"></i>
        <%= post.comments.count %>
      </span>

      <% if post.user == current_user %>
        <span class="align-middle pl-2">
          <%= link_to edit_post_path(post),class: "btn btn-outline-success btn-sm" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </span>
        <span class="align-middle pl-2">
          <%= link_to post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger btn-sm" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </span>
      <% end %>

      <p class="post_days text-center pt-2">
        公開日 : <%= post.created_at.strftime("%Y年/%m月/%d日") %>
      </p>
    </div>

  </div>
</div>





<script>
var indexRateElement = document.getElementById('index_active_raty_<%= post.id %>');
//index_active_raty_<%#= post.id %>としないと星が1つコメントに対してどんどん足されるような方式になってしまうためpost.idを指定する
indexRateElement.innerHTML = '';
var indexOpt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "comment[star]",
    score: "<%= post.avarage_star %>",  //モデルで定義した『avarage_stay』を利用。
    readOnly: true
};
raty(indexRateElement,indexOpt);
</script>

<!--scriptの2行目　ブラウザの←や→を行ったときに星が再度読み込まれ、記憶されている星にプラスする形で表示されてしまうため、一度表示を削除して再度処理を実行して
いる-->
