<div class="posts-show">
  <div class="container-fluid px-5">

    <% if user_signed_in? %>
      <div class="row">
        <div class="col-12 col-md-2 mt-5">
          <h2 class="user_title text-center">User info</h2>
          <%= render 'public/users/public_sidebar', user: @user %>
        </div>

        <div class="col-12 col-md-10">
          <div class="row my-3">
            <h2 class="font_kaushan"><strong>
              【 <%= @post.user.name %>さんの色彩詳細 】
            </strong></h2>
          </div>

          <div class="row pt-3">
            <div class="col-12 col-md-5 mb-2">
              <div class="show_big_diamond">
                <div class="square" style="background-color: <%= @post.color1 %>">
                  <div class="text_box">
                    <p class="text-color">color 1</p>
                  </div>
                </div>
                <div class="square" style="background-color: <%= @post.color2 %>">
                  <div class="text_box">
                    <p class="text-color">color 2</p>
                  </div>
                </div>
                <div class="square" style="background-color: <%= @post.color4 %>">
                  <div class="text_box">
                    <p class="text-color">color 4</p>
                  </div>
                </div>
                <div class="square" style="background-color: <%= @post.color3 %>">
                  <div class="text_box">
                    <p class="text-color">color 3</p>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-12 col-md-7">
            <div class="row pt-3">
              <div class="col-12 col-md-12 text-center mb-3">
                <% if @post.user == current_user %>
                  <span>
                    <%= link_to edit_post_path(@post),class: "btn btn-success btn-lg" do %>
                      <i class="fas fa-edit"></i> Eidt
                    <% end %>
                  </span>
                  <span class="pl-2">
                    <%= link_to post_path(@post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger btn-lg" do %>
                      <i class="fas fa-trash-alt"></i> Destroy
                    <% end %>
                  </span>
                <% end %>
                <span class="favorite align-middle pl-3" id="favorite_buttons_<%= @post.id %>">
                  <%= render "public/favorites/favorite", post: @post %>
                </span>
              </div>
            </div>

            <div class="row mt-3">
            <table class="table ball-item">
              <thead class="border-none">
                <tr>
                  <td>
                    <div class="color-ball" style="background-color: <%= @post.color1 %>"></div>
                  </td>
                  <td>
                    <div class="color-ball" style="background-color: <%= @post.color2 %>"></div>
                  </td>
                  <td>
                    <div class="color-ball" style="background-color: <%= @post.color3 %>"></div>
                  </td>
                  <td>
                    <div class="color-ball" style="background-color: <%= @post.color4 %>"></div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="color-code"><%= @post.color1 %></td>
                  <td class="color-code"><%= @post.color2 %></td>
                  <td class="color-code"><%= @post.color3 %></td>
                  <td class="color-code"><%= @post.color4 %></td>
                </tr>
              </tbody>
            </table>
          </div>

            <div class="row">
            <div class="tag-item">
            <% @post.tags.each do |tag| %>
              <%= link_to posts_path(tag_id: tag.id), class: "btn btn-outline-info" do %>
                <%= tag.tag_name %>
              <% end %>
            <% end %>
            </div>
          </div>

            <div class="row mt-4">
              <div class="col-12 col-md-12 post_introduction">
                <p class="color-text pt-2 pl-2"><b>配色紹介</b></p>
                <hr>
                <p class="align-middle pl-2">
                  <%=safe_join(@post.post_introduction.split("\n"),tag(:br))%>
                </p>
              </div>
            </div>

            <div class="row mt-4 ml-4">
              <% if @post.comments.where(parent_id: nil).count.zero? %>
              <!-- ↑ モデルで使用した『comments.where(parent_id: nil).count.zero?』で『parent_id: nil』だった時(Postに対するコメントだった時)という条件を設けている-->
                <p class="active_text"><b>レビューがまだありません</b></p>
              <% else %>
                <p class="active_text"><b>レビュー平均：</b>
                  <span id="active_raty"></span>
                </p>
              <% end %>
            </div>
          </div>

        </div>

        <div class="row my-4">
          <div class="col-12 col-md-10 offset-0 offset-md-2">
            <%= render partial: 'public/comments/comment',locals: { post: @post, comment: @comment, comments: @comments, comment_reply: @comment_reply } %>
            <% if user_signed_in? && !Comment.where(post_id: @post.id, user_id: current_user.id, parent_id: nil).exists? %>
              <%= render 'public/comments/form', post: @post, comment: @comment %>
            <% end %>
          </div>
        </div>

      <% else %>

        <%= render partial: 'public/posts/no_sign_in_show', locals: { post: @post, comments: @comments, comment_reply: @comment_reply} %>

      <% end %>

      <!--↓ トップに戻る用のid-->
      <a href="#" id="page_top"></a>

    </div>
  </div>
</div>

<script>
var showRateElement = document.getElementById('active_raty');  //このビュー(部分テンプレートは除外)で表示する星は平均点のみなので、idの指定は無し
var showOpt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "comment[star]",
    score: "<%= @post.avarage_star %>",  //モデルで定義した『avarage_stay』を利用。
    readOnly: true
  };
  raty(showRateElement,showOpt);
</script>
