<div class="posts-show">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12 col-md-2 pt-3">
        <h2>User info</h2>
        <%= render 'public/users/public_sidebar', user: current_user %>
      </div>

      <div class="col-12 col-md-10">
        <div class="row pt-4">

          <div class="col-12 col-md-5 mb-5">
            <h1><strong>【色彩詳細】</strong></h1>
            <div class="row pt-3">

              <div class="show_big_diamond">
                <div class="square" style="background-color: <%= @post.color1 %>">
                  <div class="text_box">
                    <p class="text-color">color 1</p>
                  </div>
                </div>
                <div class="square" style="background-color: <%= @post.color2 %>">
                  <div class="text_box">
                    <p class="text-color">color 2</p>
                  </div>
                </div>
                <div class="square" style="background-color: <%= @post.color4 %>">
                  <div class="text_box">
                    <p class="text-color">color 4</p>
                  </div>
                </div>
                <div class="square" style="background-color: <%= @post.color3 %>">
                  <div class="text_box">
                    <p class="text-color">color 3</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-12 col-md-7">
            <div class="row pt-5">
              <div class="mb-5 ml-4">
                <% if @post.user == current_user %>
                  <span><%= link_to "Edit", edit_post_path(@post),class: "btn btn-success btn-lg" %></span>
                  <span class="pl-2"><%= link_to 'Destroy', post_path(@post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-lg"%></span>
                <% end %>
                <span class="favorite pl-5" id="favorite_buttons_<%= @post.id %>">
                  <%= render "public/favorites/favorite", post: @post %>
                </spaan>
              </div>
              
              
              <table class="table">
                <thead class="border-none">
                  <tr>
                    <td>
                      <div class="color-ball" style="background-color: <%= @post.color1 %>"></div>
                    </td>
                    <td>
                      <div class="color-ball" style="background-color: <%= @post.color2 %>"></div>
                    </td>
                    <td>
                      <div class="color-ball" style="background-color: <%= @post.color3 %>"></div>
                    </td>
                    <td>
                      <div class="color-ball" style="background-color: <%= @post.color4 %>"></div>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="color-code"><%= @post.color1 %></td>
                    <td class="color-code"><%= @post.color2 %></td>
                    <td class="color-code"><%= @post.color3 %></td>
                    <td class="color-code"><%= @post.color4 %></td>
                  </tr>
                </tbody>
              </table>

              <div class="tag-item">
              <% @post.tags.each do |tag| %>
                <div class="btn btn-outline-info">
                  <%= tag.tag_name %>
                </div>
              <% end %>
              </div>

            </div>

            <div class="row mt-4 ml-4">
              <div class="post_introduction">
                <p class="color-text"><b>配色紹介</b></p>
                <%= @post.post_introduction %>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
    
  <div class="row mt-5">
    <div class="offset-0 offset-md-2 col-12 col-md-10">
      <%= render partial: 'public/comments/comment',locals: {post: @post, comments: @comments, comment_reply: @comment_reply} %>
      <% if user_signed_in? %>
        <%= render 'public/comments/form', post: @post, comment: @comment %>
      <% end %>
    </div>
  </div>
    
</div>
