<div class="card mb-3">
  
  <div class="card-body">
    <%= link_to root_path(comment.user.id) do %>
      <%= image_tag comment.user.get_profile_image, width: 72 %>
    <% end %>
    <%= link_to "#{comment.user.name}さん", root_path(comment.user.id), class: 'link pl-1' %>
    <div class="card-text mt-4">
      <%= simple_format(comment.comment) %>
    </div>
    
    <% Comment.where(post_id: comment.post_id, parent_id: comment.id).order(created_at: :desc).each do |reply| %>
      <div class="card ml-4 mb-3">
        <div class="card-body">
          <%= simple_format(reply.comment) %>
          <hr>
          <%= link_to root_path(reply.user.id) do %>
            <%= image_tag reply.user.get_profile_image, width: 36 %>
          <% end %>
          <small>
            <%= link_to "#{reply.user.name}さん", root_path(reply.user.id), class: 'link pl-1' %>
          </small>
          <small class="pl-3">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </small>
        </div>
      </div>
    <% end %>
    
    <%= form_with model: comment_reply, url: post_comments_path(comment.post_id), method: :post, local: false do |f| %>
      <%= f.hidden_field :parent_id, value: comment.id %>
      <b><%= f.label :comment, 'Reply' %></b>
      <%= f.text_area :comment, rows: 2, class: 'form-control' %>
      <%= f.submit 'Comment Reply', class: 'mt-3 btn btn-sm btn-primary' %>
    <% end %>
  </div>
  
  <div class="card-footer text-right">
    <small class="text-black-50">
      <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    </small>
    <% if comment.user == current_user %>
      <%= link_to '削除する', post_comment_path(comment.post_id, comment.id),
                              method: :delete,
                              remote: true,
                              class: 'btn btn-sm btn-outline-secondary ml-2'
      %>
    <% end %>
  </div>
  
</div>