<div class="card mb-3">

  <div class="card-body">
    <% if user_signed_in? %>
      <%= link_to user_my_page_path(comment.user.id) do %>
        <%= image_tag comment.user.get_profile_image, width: 72 %>
      <% end %>
      <%= link_to user_my_page_path(comment.user.id), class: "pl-1" do %>
        <%= comment.user.name %>さん
      <% end %>
    <% end %>
    <div class="card-text mt-4">
      <div id="show_raty_<%= comment.id %>"></div>
      <%= simple_format(comment.comment) %>
    </div>

    <% Comment.where(post_id: comment.post_id, parent_id: comment.id).order(created_at: :desc).each do |reply| %>
      <div class="card ml-4 mb-3">
        <div class="card-body">
          <%= simple_format(reply.comment) %>
          <hr>
          <%= link_to user_my_page_path(reply.user.id) do %>
            <%= image_tag reply.user.get_profile_image, width: 36 %>
          <% end %>
          <small>
            <%= link_to user_my_page_path(reply.user.id), class: "pl-1" do %>
              <%= reply.user.name %>さん
            <% end %>
          </small>
          <small class="pl-3">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </small>
        </div>
        
        <div class="card-footer text-right">
          <small class="text-black-50">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
          </small>
          <%= link_to '削除する', post_comment_path(comment.post_id, reply.id),
                                  method: :delete,
                                  data: { confirm: '本当に削除しますか？' },
                                  remote: true,
                                  class: 'btn btn-sm btn-outline-secondary ml-2'
          %>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with model: comment_reply, url: post_comments_path(comment.post_id), method: :post, local: true do |f| %>
        <%= f.hidden_field :parent_id, value: comment.id %>
        <b><%= f.label :comment, 'Reply' %></b>
        <%= f.text_area :comment, required: true, rows: 2, placeholder: "返信内容を150文字以内で入力してください", class: 'form-control' %>
        <%= f.submit '返信', class: 'mt-3 btn btn-sm btn-primary' %>
      <% end %>
    <% end %>
  </div>

  <div class="card-footer text-right">
    <small class="text-black-50">
      <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
    </small>
    <% if comment.user == current_user %>
      <%= link_to '削除する', post_comment_path(comment.post_id, comment.id),
                              method: :delete,
                              data: { confirm: '本当に削除しますか？' },
                              remote: true,
                              class: 'btn btn-sm btn-outline-secondary ml-2'
      %>
    <% end %>
  </div>

</div>


<script>
var showRateElement = document.getElementById('show_raty_<%= comment.id %>');
//show_raty_<%#= comment.id %>としないと星が1つコメントに対してどんどん足されるような方式になってしまうためcomment.idを指定する
showRateElement.innerHTML = '';
var showOpt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "comment[star]",
    score: "<%= comment.star %>",
    readOnly: true
  };
  raty(showRateElement,showOpt);
</script>