<div class="admin-tag">
    <div class="container">
        <div class="row">
            <div class="col-5 col-sm-5 offset-sm-1">
                <h4><strong>タグ一覧・追加・編集</strong></h4>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-5 col-sm-5  offset-sm-1">
                <tadle class="table table-borderless">
                <%= form_with model: [:admin, @tag] do |tag| %>
                    <tr>
                        <p>
                            <strong><%= tag.label :"タグ名" %></strong>
                            <%= tag.text_field :tag_name, :placeholder => "タグ名" %>
                            <%= tag.submit "新規登録", class: "btn btn-success" %>
                        </p>
                    </tr>
                <% end %>
                </tadle>
            </div>

            <div class="col-5 col-sm-5 offset-sm-1">
                <table class="table text-secondary">
                    <thead>
                        <tr>
                            <th>タグ名</th>
                            <th>投稿登録数</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @tags.each do |tags| %>
                        <tr>
                            <%= form_with model: [:admin, tags], method: :patch do |t| %>
                                <td><%= t.text_field :tag_name %></td>
                                <td align="center"><%= PostTag.where(tag_id: tag.id).count %></td>
                                <td><%= t.submit '変更を保存', class: 'btn btn-success' %></td>
                            <% end %>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
