<div class="card mb-2" style="width: 17rem;">
  <div class="card-body">

    <%= link_to admin_post_path(post) do %>
      <div class="index_big_diamond">
        <div class="index_square" style="background-color: <%= post.color1 %>"></div>
        <div class="index_square" style="background-color: <%= post.color2 %>"></div>
        <div class="index_square" style="background-color: <%= post.color4 %>"></div>
        <div class="index_square" style="background-color: <%= post.color3 %>"></div>
      </div>
    <% end %>

    <table>
      <tr class="index_text">
        <% if post.comments.where(parent_id: nil).count.zero? %>
        <!-- ↑ モデルで使用した『comments.where(parent_id: nil).count.zero?』で『parent_id: nil』だった時(Postに対するコメントだった時)という条件を設けている-->
          <p class="pt-3"><b>レビューが<br>
                ありません</b></p>
        <% else %>
          <p class="pt-3"><b>評価：</b>
          <span id="admin_index_active_raty_<%= post.id %>"></span>
        </p>
        <% end %>
      </tr>
      <tr class="index_text">
        <p>製作者 :
          <%= link_to admin_user_path(post.user.id) do %>
            <%= post.user.name %>さん
          <% end %>
        </p>
      </tr>
      <tr>
        <div class="tag-item">
        <% post.tags.each do |tag| %>
          <%= link_to admin_posts_path(tag_id: tag.id), class: "btn btn-outline-info btn-sm" do %>
            <%= tag.tag_name %>
          <% end %>
        <% end %>
        </div>
      </tr>
      <tr>
        <td class="pt-2 pl-4">
          <span class="favorite", style="color: #ff8c00">
            <i class="fas fa-book-reader" aria-hidden="true"></i>
            <%= post.favorites.count %>
          </span>
        </td>
        <td class="pt-2 pl-3">
          <span class="comments", style="color: #a9a9a9">
            <i class="fas fa-comments"></i>
            <%= post.comments.count %>
          </span>
        </td>
        <td class="pt-2 pl-3">
          <span>
            <%= link_to admin_post_path(post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger btn-sm" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </span>
        </td>
      </tr>


    </table>

  </div>
</div>





<script>
var adminindexRateElement = document.getElementById('admin_index_active_raty_<%= post.id %>');
//adminindex_active_raty_<%#= post.id %>としないと星が1つコメントに対してどんどん足されるような方式になってしまうためpost.idを指定する
var adminindexOpt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "comment[star]",
    score: "<%= post.avarage_stay %>",  //モデルで定義した『avarage_stay』を利用。
    readOnly: true
  };
  raty(adminindexRateElement,adminindexOpt);
</script>
