<div class= "admin_posts_index pb-2">
  <div class ="container">

    <div class="row index-text pt-3 pl-3">
      <% if @tag_name.present? %>
        <h3><b><%= @tag_name %>の配色一覧</b></h3>
      <% else %>
        <h3><b>配色一覧</b></h3>
      <% end %>
    </div>

    <div claas="row">
      <div class="searche pl-2">
        <%= render 'admin/posts/posts_searche', posts: @posts %>
      </div>
    </div>

    <div class="index_list my-2">
      <% if @posts.any? %>
        <div class="card-deck">
          <% @posts.each do |post| %>
            <div class="col-12 col-md-3">
              <%= render 'admin/posts/index', post: post %>
            </div>
          <% end %>
        </div>
      <% else @tag_name.present? && @posts.empty? %>
        <p class="users_text mt-3 ml-4">
          『 <%= @tag_name %> 』が登録された配色はありません。
        </p>
      <% end %>
    </div>

    <%= paginate @posts %>
    
    <!--↓ トップに戻る用のid-->
    <a href="#" id="page_top"></a>

  </div>
</div>
