<div class="admin_posts-show">
  <div class="container-fluid px-5">
    <div class="row pt-4 pb-3 px-5">
      <h1><strong>
        【
        <%= link_to admin_user_path(@post.user.id) do %>
          <%= @post.user.name %>さん
        <% end %>
        の色彩詳細】
      </strong></h1>
    </div>

    <div class="row pt-3 px-5">
      <div class="col-12 col-md-5 mb-5">
        <div class="show_big_diamond">
          <div class="square" style="background-color: <%= @post.color1 %>">
            <div class="text_box">
              <p class="text-color">color 1</p>
            </div>
          </div>
          <div class="square" style="background-color: <%= @post.color2 %>">
            <div class="text_box">
              <p class="text-color">color 2</p>
            </div>
          </div>
          <div class="square" style="background-color: <%= @post.color4 %>">
            <div class="text_box">
              <p class="text-color">color 4</p>
            </div>
          </div>
          <div class="square" style="background-color: <%= @post.color3 %>">
            <div class="text_box">
              <p class="text-color">color 3</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-7">
        <div class="row pt-2">
          <div class="col-12 col-md-12 text-center">
            <span>
              <%= link_to admin_post_path(@post.id), method: :delete, data: { confirm: '本当に削除ますか？' }, class: "btn btn-outline-danger btn-lg" do %>
                <i class="fas fa-trash-alt"></i> 削除
              <% end %>
            </span>

            <span class="favorite align-middle ml-2", style="color: #ff8c00">
              <i class="fas fa-book-reader" aria-hidden="true"></i>
              <%= @post.favorites.count %>
            </span>
          </div>
        </div>

        <div class="row mt-3">
          <table class="table ball-item">
            <thead class="border-none">
              <tr>
                <td>
                  <div class="color-ball" style="background-color: <%= @post.color1 %>"></div>
                </td>
                <td>
                  <div class="color-ball" style="background-color: <%= @post.color2 %>"></div>
                </td>
                <td>
                  <div class="color-ball" style="background-color: <%= @post.color3 %>"></div>
                </td>
                <td>
                  <div class="color-ball" style="background-color: <%= @post.color4 %>"></div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="color-code"><%= @post.color1 %></td>
                <td class="color-code"><%= @post.color2 %></td>
                <td class="color-code"><%= @post.color3 %></td>
                <td class="color-code"><%= @post.color4 %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="tag-item">
          <% @post.tags.each do |tag| %>
            <%= link_to admin_posts_path(tag_id: tag.id), class: "btn btn-outline-info" do %>
              <%= tag.tag_name %>
            <% end %>
          <% end %>
          </div>
        </div>

        <div class="row mt-4 ml-4">
          <div class="col post_introduction ">
            <%= form_with model: @post, url: admin_post_path, method: :patch do |post| %>
              <div class="form-group">
                <h4><b><%= post.label :"配色紹介" %></b></h4>
                <p>不適切な紹介説明があった場合、書き込みを削除してください。</p>
                <%= post.text_area :post_introduction, class: "form-control", rows: "3" %>
              </div>
              <div class="form-group  text-right">
                <%= post.submit "更新", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row mt-4 ml-4">
          <% if @post.comments.where(parent_id: nil).count.zero? %>
          <!-- ↑ モデルで使用した『comments.where(parent_id: nil).count.zero?』で『parent_id: nil』だった時(Postに対するコメントだった時)という条件を設けている-->
            <p class="active_text"><b>レビューがありません</b></p>
          <% else %>
            <p class="active_text"><b>レビュー平均：</b>
              <span id="admin_active_raty"></span>
            </p>
          <% end %>
        </div>

        <div class="row mt-5">
          <div class="col-12 col-md-12">
            <div id="admin_comment">
              <%= render partial: 'admin/comments/comment',locals: { post: @post, comments: @comments, comment_reply: @comment_reply } %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--↓ トップに戻る用のid-->
    <a href="#" id="page_top"></a>

  </div>
</div>

<script>
var adminshowRateElement = document.getElementById('admin_active_raty');  //このビュー(部分テンプレートは除外)で表示する星は平均点のみなので、idの指定は無し
adminshowRateElement.innerHTML = '';
var adminshowOpt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "comment[star]",
    score: "<%= @post.avarage_star %>",  //モデルで定義した『avarage_stay』を利用。
    readOnly: true
};
raty(adminshowRateElement,adminshowOpt);
</script>

<!--scriptの2行目　ブラウザの←や→を行ったときに星が再度読み込まれ、記憶されている星にプラスする形で表示されてしまうため、一度表示を削除して再度処理を実行して
いる-->
