<div class="card mb-2"  style="margin-left: 0; margin-right: 0;">
  <div class="card-body">

    <%= link_to admin_post_path(post) do %>
      <div class="index_big_diamond">
        <div class="index_square" style="background-color: <%= post.color1 %>"></div>
        <div class="index_square" style="background-color: <%= post.color2 %>"></div>
        <div class="index_square" style="background-color: <%= post.color4 %>"></div>
        <div class="index_square" style="background-color: <%= post.color3 %>"></div>
      </div>
    <% end %>

    <div class="index_text">
      <% if post.comments.where(parent_id: nil).count.zero? %>
      <!-- ↑ モデルで使用した『comments.where(parent_id: nil).count.zero?』で『parent_id: nil』だった時(Postに対するコメントだった時)という条件を設けている-->
        <p class="text-center pt-3"><b> レビューがありません </b></p>
      <% else %>
        <p class="text-center pt-3"><b>評価：</b>
        <span id="admin_index_active_raty_<%= post.id %>"></span>
      </p>
      <% end %>
    </div>

    <div class="tag-item">
      <% post.tags.each do |tag| %>
        <%= link_to admin_posts_path(tag_id: tag.id), class: "btn btn-outline-info btn-sm" do %>
          <%= tag.tag_name %>
        <% end %>
      <% end %>
    </div>

    <div class="text-center mt-3">
      <span class="favorite align-middle", style="color: #ff8c00">
        <i class="fas fa-book-reader" aria-hidden="true"></i>
        <%= post.favorites.count %>
      </span>

      <span class="comments align-middle pl-2", style="color: #a9a9a9">
        <i class="fas fa-comments"></i>
        <%= post.comments.count %>
      </span>

      <span class="align-middle pl-2">
        <%= link_to admin_post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger btn-sm" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </span>
    </div>

    <p class="post_days text-center pt-2">
      公開日 : <%= post.created_at.strftime("%Y年/%m月/%d日") %>
    </p>

  </div>
</div>




<script>
var adminindexRateElement = document.getElementById('admin_index_active_raty_<%= post.id %>');
//adminindex_active_raty_<%#= post.id %>としないと星が1つコメントに対してどんどん足されるような方式になってしまうためpost.idを指定する
var adminindexOpt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "comment[star]",
    score: "<%= post.avarage_star %>",  //モデルで定義した『avarage_stay』を利用。
    readOnly: true
  };
  raty(adminindexRateElement,adminindexOpt);
</script>
