<div class="public-sessions">
  <div class="container login_container mt-5">
    <div class="row px-5">
      <div class="col-12">

        <div class="row my-3">
          <h2 class="user_login"><strong>
            <i class="fas fa-pencil-ruler"></i> Log in <i class="fas fa-pencil-ruler"></i>
          </strong></h2>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="row mb-1"> 
            <div class="field">
              <b><%= f.label :"email(メールアドレス)" %></b><br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="row mb-1">
            <div class="field">
              <b><%= f.label :"password(パスワード)" %></b><br>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>
          
          <div class="row mb-3">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6 mb-2">
              <%= f.submit "Log in", class: "btn btn-success" %>
            </div>
            <div class="col-12 col-md-6 mb-2">
              <%= render "public/shared/links" %>
            </div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
