<div class="users_index py-3">
  <div class ="container-fluid px-5">
    <div class="row">
      <div class="col-12 col-md-2 mt-4">
        <h2 class="user_title text-center">User info</h2>
        <%= render 'public/users/public_sidebar', user: @user %>
      </div>

      <div class="col-12 col-md-10">
        <div class="row">
          <h2  class="font_kaushan pl-3"><strong>【 <%= @user.name %>さんの投稿一覧 】</strong></h2>
        </div>

        <div claas="row">
          <div class="searche pl-2">
            <%= render partial: 'public/users/users_index_searche', locals: { posts: @posts, user: @user } %>
          </div>
        </div>

        <div class="mt-3">
          <!--↓ トップに戻る用のid-->
          <a href="#" id="page_top"></a>

          <% if @posts.any? %>
            <div class="index_list mb-2">
              <div class="card-deck mt-3">
                <% @posts.each do |post| %>
                  <div class="col-12 col-md-3">
                    <%= render 'public/posts/index', post: post %>
                  </div>
                <% end %>
              </div>
            </div>
          <% elsif @tag_name.present? && @posts.empty? %>
            <p class="users_text mt-3 ml-4">
              『 <%= @tag_name %> 』が登録された配色はありません。
            </p>
          <% else %>
            <p class="users_text mt-3 ml-4">
              配色の登録がありません。
            </p>
          <% end %>

          <%= paginate @posts %>

      </div>

    </div>
  </div>
</div>