<div class="posts_index">
  <div class ="container-fluid mt-3 px-5">
    <div class="row">
      <div class="col-12 col-md-2 user_info mb-3">
        <h2>User info</h2>
        <%= render 'public/users/public_sidebar', user: @user %>
      </div>

      <div class="col-11 col-md-10 offset-1 offset-md-0">
        <div class="row index-text pl-3">
          <h2><%= @user.name %>さんのブックマーク</h2>
        </div>
        
        <div claas="row">
          <div class="searche pl-5">
            <%= render 'public/posts/tag_searche', posts:@posts %>
          </div>
        </div>
        
        <%= link_to user_like_path(@user) do %>
          <span id="page_top"></span>
        <% end %>
        </div>

        <div class="row">
          <div class="card-deck scroll-list jscroll">
            <% @favorite_posts.each do |favorite| %>
              <%# ↓ レイアウトが崩れてしまうため投稿の個数が4個より少ない場合は12÷その個数をしてcol-mdの値を出すようにする %>
              <div class="col-12 col-md-<% if @favorite_posts.length < 4 %><%= 12 / @favorite_posts.length %><% else %>3<% end %> offset-1 offset-md-0">
                <%= render 'public/posts/index', post: favorite %>
              </div>
            <% end %>
            <%#= paginate @favorite_posts %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script>
  var jscrollOption = {
    loadingHtml: '読み込み中・・・', //記事読み込み中の表示
    autoTrigger: true, // 自動で読み込むか否か、trueで自動、falseでボタンクリックとなる。
    padding: 20, // 指定したコンテンツの下かた何pxで読み込むかを指定(autoTrigger: trueの場合のみ)
    contentSelector: '.jscroll' // 読み込む範囲の指定
  };
  $('.jscroll').jscroll(jscrollOption);
</script>

