<header class="sticky-top border-bottom px-5 mb-1">

  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="navbar-brand">
      <div class="logo-image"></div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto navbar-inline">

        <% if user_signed_in? %>
        <li>
          <%= link_to posts_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-palette"></i> みんなの配色
          <% end %>
        <li>
        <li>
          <%= link_to new_post_path, class: 'nav-link text-dark', data: {"turbolinks"=>false} do %>
            <i class="fas fa-paint-brush"></i> 新規配色登録
          <% end %>
        <li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>

        <% elsif admin_signed_in? %>

        <li>
          <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-users"></i> ユーザー一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_posts_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-palette"></i> 投稿一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_comments_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-comments"></i> コメント一覧
          <% end %>
        </li>
          <%= link_to admin_tags_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-tags"></i> タグ管理
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>

        <% else %>
        
        <div class="icon">
          <i class="fas fa-icons fa-lg icon1"></i>
          <i class="fas fa-stroopwafel icon2"></i>
          <i class="fas fa-star fa-xs  icon3"></i>
          <i class="fab fa-galactic-republic icon4"></i>
          <i class="fas fa-umbrella fa-2x icon4"></i>
        </div>

        <% end %>
      </ul>
    </div>

  </nav>

</header>